[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
	branch = master
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython
	branch = master
